---
layout: archive
permalink: /publications/
author_profile: true
---

{% include base_path %}

<h2>Submitted</h2>
<div class="grid__wrapper">
  {% for post in site.publications reversed %}
  {% if post.category contains 'manuscripts' %}
  {% if post.venue contains '(submitted)' %}
  {% include archive-single.html type="grid" %}
  {% endif %}
  {% endif %}
  {% endfor %}
</div>

<h2>Journal Articles</h2>
<div class="grid__wrapper">
  {% for post in site.publications reversed %}
  {% if post.category contains 'manuscripts' %}
  {% unless post.venue contains '(submitted)' %}
  {% include archive-single.html type="grid" %}
  {% endunless %}
  {% endif %}
  {% endfor %}
</div>

<h2>Theses</h2>
<div class="grid__wrapper">
  {% for post in site.publications reversed %}
  {% if post.category contains 'thesis' %}
  {% include archive-single.html type="grid" %}
  {% endif %}
  {% endfor %}
</div>

<h2>Outreach</h2>
<div class="grid__wrapper">
  {% for post in site.publications reversed %}
  {% if post.category contains 'outreach' %}
  {% include archive-single.html type="grid" %}
  {% endif %}
  {% endfor %}
</div>