---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}


<h2>Teaching</h2>
<hr />
{% for post in site.teaching reversed %}
{% unless post.type contains "Supervisor" or post.type contains "supervisor" %}
{% include archive-single.html %}
{% endunless %}
{% endfor %}

<br />

<h2>Students Mentoring / Interns</h2>
<hr />
{% for post in site.teaching reversed %}
{% if post.type contains "Supervisor" or post.type contains "supervisor" %}
{% include archive-single.html %}
{% endif %}
{% endfor %}