---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}


<h2>Teaching</h2>

I teach and design courses about technical tools for climate and weather data analysis.

<hr />
<div class="grid__wrapper">
    {% for post in site.teaching reversed %}
    {% unless post.type contains "Supervisor" or post.type contains "supervisor" %}
    {% include archive-single.html type="grid" %}
    {% endunless %}
    {% endfor %}
</div>

<br />

<h2>Students Mentoring / Interns</h2>
<hr />
<div class="grid__wrapper">
    {% for post in site.teaching reversed %}
    {% if post.type contains "Supervisor" or post.type contains "supervisor" %}
    {% include archive-single.html type="grid" %}
    {% endif %}
    {% endfor %}
</div>