{% include base_path %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

<li class="cv-item" itemscope itemtype="http://schema.org/CreativeWork">
  <div class="cv-item-header">
    <div class="cv-item-title-group">
      <div class="cv-item-title">
        {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i
            class="fa fa-link" aria-hidden="true" title="permalink"></i></a>
        {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </div>
    </div>
    {% if post.date %}
    <div class="cv-item-date">{{ post.date | date: '%Y' }}</div>
    {% endif %}
  </div>

  {% if post.venue %}
  <div class="cv-item-subtitle">{{ post.type }} at {{ post.venue }}</div>
  {% endif %}

  {% if post.location %}
  <div class="cv-item-location">
    <i class="fa-solid fa-location-dot"></i>
    {{ post.location }}
  </div>
  {% endif %}
</li>