/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   ========================================================================== */

.btn {
  /* default button */
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  color: var(--global-button-text-color, #ffffff) !important;
  font-family: $sans-serif;
  font-size: $type-size-6;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: var(--global-base-color);
  border: 0 !important;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    background-color: mix(white, #000, 20%);
  }

  .icon {
    margin-right: 0.5em;
  }

  .icon+.hidden {
    margin-left: -0.5em;
    /* override for hidden text*/
  }

  /* fills width of parent container */

  &--block {
    display: block;
    width: 100%;

    +.btn--block {
      margin-top: 0.25em;
    }
  }

  /* for dark backgrounds */

  &--inverse {
    color: var(--global-text-color-light) !important;
    border: 1px solid var(--global-border-color) !important;
    /* override*/
    background-color: var(--global-bg-color);

    &:hover {
      color: #fff !important;
      border-color: var(--global-text-color-light);
    }
  }

  /* light outline */

  &--light-outline {
    border: 1px solid #fff !important;
    /* override*/
    background-color: transparent;
  }

  /* information */

  &--info {
    background-color: var(--global-info-color, #{$info-color});

    &:hover {
      filter: brightness(0.8);
    }
  }

  /* warning */

  &--warning {
    background-color: var(--global-warning-color, #{$warning-color});

    &:hover {
      filter: brightness(0.8);
    }
  }

  /* success */

  &--success {
    background-color: var(--global-success-color, #{$success-color});

    &:hover {
      filter: brightness(0.8);
    }
  }

  /* danger */

  &--danger {
    background-color: var(--global-danger-color, #{$danger-color});

    &:hover {
      filter: brightness(0.8);
    }
  }

  /* disabled */

  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: 0.65;
  }

  /* social buttons */

  $social: (
    bluesky,
    $bluesky-color),
    (facebook, $facebook-color),
    (google-plus, $google-plus-color),
    (linkedin, $linkedin-color),
    (mastodon, $mastodon-color),
    (twitter, $twitter-color
  );

@each $socialnetwork, $color in $social {
  &--#{$socialnetwork} {
    background-color: $color;

    &:hover {
      background-color: mix(#000, $color, 20%);
    }
  }
}

/* extra large button */

&--x-large {
  font-size: $type-size-4;
}

/* large button */

&--large {
  font-size: $type-size-5;
}

/* small button */

&--small {
  font-size: $type-size-7;
}
}